@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Contact"] = "0934 717 617 - DucHienTechnical";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Contact"]</p>

<p>Use this page to detail your site's privacy policy.</p>
